/*
darker
#301e40
dark
#603f7f

desaturated
#d7d1e8
saturated
#c9a5ff

light
#f9f2ff
*/

body,
.jumbotron,
.navbar, 
.panel-default > .panel-heading,
.panel-default,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
jemetsunevirgulesijeveux
{
    background: #f9f2ff;
    border-color: #f9f2ff;
}

.form-control,
.btn-default,
jemetsunevirgulesijeveux
{
    border-color: #d7d1e8;
}

.btn-default:focus,
.btn-default:hover,
jemetsunevirgulesijeveux
{
    background: #f9f2ff;
    border-color: #d7d1e8;
    color: #603f7f;
}

.form-control:focus,
.form-control:hover,
jemetsunevirgulesijeveux
{
    border-color: #d7d1e8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 165, 255, 0.6);
}

.form-control:-moz-placeholder {
    color: #c9a5ff;
}
.form-control::-moz-placeholder {
    color: #c9a5ff;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #c9a5ff;
}
.form-control::-webkit-input-placeholder {
    color: #c9a5ff;
}

body,
h1, h2, h3,
a,
.jumbotron,
.navbar, 
.panel-default > .panel-heading,
.panel-default,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.btn-default,
jemetsunevirgulesijeveux
{
    color: #603f7f;
    //color: #69428B;
}

body {
    background: url("../img/bg.jpg");
}

ol {
    padding-left: 20px;
}

.panel-default {
    background: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
jemetsunevirgulesijeveux
{
    color: #301e40;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a {
    background: #d7d1e8;
}

.navbar-brand img {
    margin-top: -10px;
    height: 40px;
}

.hlq-spacer-navbar {
    height: 80px;
}

.hlq-main {
    background: white;
    padding: 30px;
}

.container .hlq-main {
    border-radius: 6px;
}

.hlq-main a,
.panel-body a {
    font-weight: bold;
}

.hlq-filled-panel {
    position: relative;
}

a.hlq-fill-div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.checkbox-inline {
    margin: 10px;
}

#threeRenderer {
    width: 640px;
    padding-bottom: 30px;
}
